
<div class="row">

    <div class="column">
        <router-outlet name='out1'></router-outlet>
    </div>
    <div class="column">
        <router-outlet name="out2"></router-outlet>
    </div>
    <div class="column">
        <router-outlet name="out3"></router-outlet>
    </div>
    <div class="column">
        <router-outlet name="out4"></router-outlet>
    </div>  

</div>

<div class="row">

    <div class="column">
        <router-outlet name="out5"></router-outlet>
    </div>
    <div class="column">
        <router-outlet name="out6"></router-outlet>
    </div>  

</div>