<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Owner-Account</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home"><mat-icon>home</mat-icon></a>
            </li>
            <li>
                <a routerLink="/profile"><mat-icon>assignment_ind</mat-icon></a>
            </li>
            <li>
                <a routerLink="/account"><mat-icon>assessment</mat-icon></a>
            </li>
            <li>
                <a routerLink="/account"><mat-icon>build</mat-icon></a>
            </li>
            <li>
                <a (click)="logout()"><mat-icon>exit_to_app</mat-icon></a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
