<h1>User Profile</h1>
<div class="app-container">
    <mat-form-field>
        <input matInput placeholder="{{currentUser.username}}">
        <mat-hint>Username</mat-hint>
    </mat-form-field>
    <tr></tr> 
    <mat-form-field>
        <input matInput placeholder="{{currentUser.firstName}}">
        <mat-hint>First Name</mat-hint>
    </mat-form-field>
    <tr></tr>
    <mat-form-field>
        <input matInput placeholder="{{currentUser.lastName}}">
        <mat-hint>Last Name</mat-hint>
    </mat-form-field>

</div>
